@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #1B1F20;
  border-radius: 5px
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #3e4345;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #848a8a;
}